<section class="ui grid">
  <div class="row">
    <div class="fourteen wide column">
      <h2>{{model.name}}</h2>
      <p>{{model.description}}</p>
    </div>
  </div>
  <div class="row">
    <div class="fourteen wide column">
      {{transaction-list model=model.transactions}}
    </div>
    <div class="two wide column">
      <button class="ui button positive" {{action "addTransaction"}}>
        Add
      </button>
    </div>
  </div>
</section>

{{#modal-window
  hasActions=true
  id="transaction-modal"
  ok-caption="Add"
  title="Add a Transaction"
  cancelAction=(action "cancelAdd")
  okAction=(action "completeAdd")
}}
  <form class="flex-column flex-display flex-spacer">
    {{drop-down
      container-styles="bottom-spacer"
      id="transaction-type"
      model=transactionTypes
      placeholder="Select Transaction Type"
      update=(action "updateTransactionType")
    }}
    {{#if newTransaction}}
      <div class="bottom-spacer ui labeled input">
        <label class="ui label" for="transaction-date">
          Transaction Date
        </label>
        {{pikaday-input
          value=newTransaction.transactionDate
          id="transaction-date"
          format="MM/DD/YYYY"
          onSelection=(action "setTransactionDate")
        }}
      </div>
      <div class="ui labeled input">
        <label class="ui label" for="amount">
          Amount
        </label>
        {{input-money
          id="amount"
          number=newTransaction.amount
        }}
      </div>
    {{/if}}
  </form>
{{/modal-window}}
