<div class="content">
  <div class="header">
    <h3>Transactions</h3>
  </div>
</div>
<div class="content">
  <ul class="transaction-list">
    <li class="header-row">
      <div>
        Date
      </div>
      <div>
        Amount
      </div>
    </li>
    {{#if savedTransactions}}
      {{#each savedTransactions as |transaction|}}
        <li class="record-row">
          <div>
            {{moment-format transaction.transactionDate "M/D/YYYY"}}
          </div>
          <div class="{{if transaction.isDebit 'text-bolder text-red' ''}}">
            {{format-currency transaction.displayAmount}}
          </div>
        </li>
      {{/each}}
    {{else}}
      <li class="no-data">
        <h4>No transactions to display</h4>
      </li>
    {{/if}}
    <li class="footer-row">
      <div>
        Total Balance
      </div>
      <div class="{{if model.isNegative 'text-bolder text-red'}}">
        {{format-currency (if model model.balance 0)}}
      </div>
    </li>
  </ul>
</div>
