<div id={{id}} class="ui selection dropdown {{container-styles}}">
  <input type="hidden" name={{id}} value={{value}} onchange={{action "update" value="target.value"}}/>
  <div class="default text">{{placeholder}}</div>
  <i class="dropdown icon"></i>
  <div class="menu {{menu-styles}}">
    {{#if model}}
      {{#each model as |item|}}
        <div class="item {{item-styles}}" data-value={{item.id}}>{{item.name}}</div>
      {{/each}}
    {{else}}
      <div class="item" data-value="0">No items</div>
    {{/if}}
  </div>
</div>
