<div class="ui grid">
  <section class="sixteen wide column top-spacer">
    <nav class="ui top attached menu">
      {{#link-to "main" class="item"}}
        <i class="dollar icon text-green"></i>
        Finance Tracking
      {{/link-to}}
      <div class="right menu">
        {{#if session.isAuthenticated}}
          <div class="item">
            {{profile-link model=model}}
          </div>
          <div class="ui dropdown icon item">
            <i class="sidebar icon"></i>
            <div class="menu">
              <div class="item">
                {{#link-to "main.home.group" tagName="button" class="ui labeled icon button"}}
                  <i class="users icon"></i>
                  Manage Groups
                {{/link-to}}
              </div>
              <div class="item">
                <button {{action "logOut"}} class="ui labeled icon button">
                  <i class="sign out icon"></i>
                  Log Out
                </button>
              </div>
            </div>
          </div>
        {{else}}
          {{#link-to "login" class="item"}}Log In{{/link-to}}
          {{#link-to "signup" class="item"}}Sign Up{{/link-to}}
        {{/if}}
      </div>
    </nav>
  </section>
  <section class="sixteen wide column">
    {{#unless session.isAuthenticated}}
      <article class="ui grid">
        <div class="five wide column">
          {{testimonial-card
            body="Track your finances like never, ever before with this new, non-existent software!"
            header="Track Your Finances!"
            subheader="IT'S AMAZING ZOMG"
          }}
        </div>
        <div class="five wide column">
          {{testimonial-card
            body="'Wow, this is a finance tracking app!'-Some Guy'"
            header="See what Users say!"
            subheader="This guy is totally real!"
          }}
        </div>
        <div class="five wide column">
          {{testimonial-card
            body="'It cured my cancer!!'-Anne Otherperson"
            header="See what Users say!"
            subheader="Holy crap!!!!"
          }}
        </div>
      </article>
    {{else}}
      {{outlet}}
    {{/unless}}
  </section>
</div>
