<div class="ui grid">
  <section class="sixteen wide column top-spacer">
    <nav class="ui top attached menu">
      {{#link-to "main" class="item"}}
        <i class="dollar icon text-green"></i>
        Finance Tracking
      {{/link-to}}
      {{#if session.isAuthenticated}}
      <div class="ui dropdown icon item">
        <i class="sidebar icon"></i>
        <div class="menu">
          <div class="item">
            {{#link-to "main.home.group" tagName="button" class="ui labeled icon button"}}
              <i class="users icon"></i>
              Manage Groups
            {{/link-to}}
          </div>
        </div>
      </div>

      {{/if}}
      <div class="right menu">
        {{#if session.isAuthenticated}}
          <div class="item">
            Hi, {{model.firstName}}!
          </div>
          <div class="item">
            {{profile-link model=model}}
          </div>
          <div class="item">
            <button {{action "logOut"}} class="ui labeled icon button">
              <i class="sign out icon"></i>
              Log Out
            </button>
          </div>
        {{else}}
          {{#link-to "login" class="item"}}Log In{{/link-to}}
          {{#link-to "signup" class="item"}}Sign Up{{/link-to}}
        {{/if}}
      </div>
    </nav>
  </section>
  <section class="sixteen wide column">
    {{#if session.isAuthenticated}}
      {{outlet}}
    {{else}}
      <article class="ui grid">
        <div class="ui card">
          <div class="content">
            <div class="header">
              Track Your Finances!
            </div>
          </div>
          <div class="content">
            <h4 class="ui sub header">IT'S AMAZING ZOMG</h4>
            <p>
              Track your finances like never, ever before with this
              new, non-existent software!
            </p>
          </div>
        </div>
      </article>
    {{/if}}
  </section>
</div>
